.botonesPrincipales{
    color: #FDFEFE;
    background-color: #154360;
    font-size: 15px;
    padding: 8px;
    font-family: Segoe UI;
    margin-left: 20px
}
.etiquetaUno{
    position: absolute;
    top: 33%;
    left: 38%;
    font-family: Segoe UI;
}
.inputUno{
    position: absolute;
    top: 33%;
    left: 53%;
}
.etiquetaDos{
    position: absolute;
    top: 39%;
    left: 38%;
    font-family: Segoe UI;
}
.inputDos{
    position: absolute;
    top: 39%;
    left: 53%;
}